%section.course
  %header.clearfix
    %h1 Klasse 4b
  .row
    .span2
      Schnitt: 6.0
  .course_table
    %table.table-striped
      %thead
        %tr 
          %td Vorname
          %td Nachname
          %td Note
      %tbody
        - 8.times do 
          %tr
            %td Jonathan 
            %td Anderfuhren
            %td.note 5.8



